// stile della card
.card {
    min-width: 340px;
    height: 500px;
    margin: 2px;
    background-color: lightgrey;
    position: relative;
    cursor: pointer;
    // hover di card in text area che lo trasformerà da display none in display block
    &:hover .textArea {
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
    }
    // area di testo delle card
    // dove sono scritte le varie info
    .textArea {
      color: white;
      width: 100%;
      height: 100%;
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      display: none;
      background-color: rgba(0, 0, 0, 0.7);
      font-size: 12px;
      padding: 5px;
      overflow-y: auto;
      p {
        margin-top: 4px;
        span {
          img {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
}